/* ----- Gallery ----- */

.play-container-artists {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    gap: 4rem;
    align-items: center;
    overflow-y: hidden;

}


.gallery-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.gallery-title {
    text-transform: uppercase;
    color:  rgb(150 245 141);
    font-size: 3.5em;
    margin-bottom: 2rem;
    
}
.gallery-title h1 {
    box-shadow: 4px 5px 10px 1px rgba(0, 0, 0, 0.11);
    margin-bottom: -20px;
    
}

.big-gallry-cont{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.gallery-header p {
    max-width: 30em;
    text-align: center;
    color: black;
    line-height: 1.7em;
    padding: 1em;
    margin-bottom: 4rem;
    font-size: medium;
}

/* .gallery-header button { 
   min-width: 10em;
   font-weight: 700;
} */

.gallery-header button:hover {
    background-color: var(--dark-orange);
    color: rgb(255, 252, 245);
}

.btn-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: space-evenly;
}

/*  Gallery */



.artist-centertext {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-block: auto;
}


.artist-image  {
    object-fit: cover;  
    border-radius: 50%;
    cursor: pointer;
    height: 300px;
    width: 333px;
    box-shadow: 4px 5px 10px 1px rgba(0, 0, 0, 0.11);
}


.remove-btn {
    background-color: rgba(255, 0, 0, 0.813); 
    border: none;
    border-radius: 4em;
    width: 20%;
    padding: .5em;
    font-size: .9em;
    text-transform: uppercase;
    cursor: pointer;
    align-self: center;
    font-weight: 700;
}


.btn-group{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 1em;
    margin-top: 1em;
}


/* ----- ARTIST GRID BOX ----- */

.artist-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.artist-overlay-dialog {
    background-color: rgb(211, 146, 200);
    width: 17em;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1em;
    border-radius: var(--box-radius);
    box-shadow: 4px 5px 10px 1px rgba(0, 0, 0, 0.11);
}

.artist-overlay-dialog .overlay-artist-image {
    width: 100%;
    max-height: 200px;
    border-radius: var(--box-radius);
    object-fit: cover;
    max-height: 279px;
}

.artist-overlay-dialog .close-btn {
    position: absolute;
    top: 0;
    right: 0;
    margin: .5rem;

    border-radius: 50%;
    border: none;
    height: 2rem;
    width: 2rem;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.874);
    color: rgb(211, 146, 200);;
    cursor: pointer;
}

.artist-overlay-dialog .close-btn:hover {
   
    color: var(--bg-color);
    transition: .3s all;
}


.match-history {
    display: flex;
    
    justify-content: center;
    text-align: center; 
}

.artist-overlay .match-history{
    background-color: rgba(255, 255, 255, 0.387);
    padding: 1rem;
    border-radius: var(--box-radius);
    box-shadow: var(--box-shadow);
}



/* ----- Add Artist Overlay ----- */
.overlay {
    position: fixed;
    background-color: white;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
}

.overlay .dialog {
    background-color: rgb(211 146 200 / 85%);
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em 1.5rem;
    border-radius: var(--box-radius);  
    box-shadow: 4px 5px 10px 1px rgba(0, 0, 0, 0.11);
}

.overlay .dialog form {
    display: flex;
    flex-direction: column;
    font-weight:bold; 
    margin-bottom: 2rem;
}

.input-field {
    background-color: white;
}

#name, #age {
    background-color: white;
}

.overlay .dialog form input {
    margin-bottom: 1rem;
    padding: .5rem;
    
    border: none;
    border-radius: var(--box-radius);
    outline: none;
}

.overlay .dialog form label {
    margin-bottom: .3rem;
    margin-left: .2em;
}

.overlay .dialog .close-btn {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1.5rem;

    border-radius: 50%;
    border: none;
    height: 2rem;
    width: 2rem;
    font-weight: bold;
    background-color: var(--darkest);
    color: var(--muddy-yellow);
    cursor: pointer;
}

.overlay .dialog .close-btn:hover {
   
    color: white;
    transition: .3s all;
}

.overlay .dialog .add-movie-btn {
    position: absolute;
    bottom: .3rem;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 1rem;
    padding: .7rem 2rem;
    background-color: var(--yellow);
    border-radius: var(--standard-border-radius);
    color: var(--bg-color);
    font-weight: bold;
    text-transform: uppercase;
}

.overlay .dialog .add-movie-btn:hover {
    background-color: var(--bg-color);
    color: var(--yellow);
}

.main-btn:disabled {
    background-color: rgb(187, 187, 187);
    color: rgb(235, 235, 235);
}

.overlay .dialog form .valid {
    border: 1px solid #14971E ;
}

.overlay .dialog form .invalid {
    border: 1px solid var(--dark-orange) ;
}

.input-alert {
    font-size: .8em;
    font-weight: 400;
    margin-top: -1em;
    margin-bottom: 1em;
    margin-left: .2em;
    
}