/* header {
	background-color: black;  
}

nav a {
	
	text-decoration: none;
}


.greeting {
  margin-left: 43px;
}

 .greeting p {
    font-family: var(--feature-font);
    font-weight: lighter;
    font-size: 100px;
    text-align: center;
    color: rgb(24, 93, 98);
  }
  .greeting p {
    
    font-weight: lighter;
    font-size: 35px;
    line-height: 0px;
    text-align: center
  }

  
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 5em;
}

.header a {
	color: rgb(24, 93, 98);
}

.header a:hover {
	color: rgba(101, 9, 72, 0.779);
}

.header a.active {
	font-weight: bold;
}

.nav-link{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 2em;
}

.nav-link a {
	font-size: 1.5em;
    
}

.header-title {
	display: flex;
	justify-content: center;
} */





/* NEW NAV STYLE  */
.navbar {
  height: 90px;
	width: 100%;
	background: linear-gradient(268deg, rgb(24, 93, 98), rgb(8, 31, 32));
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 2rem;
	font-size: 1.2rem;
}

.nav-logo {
	text-decoration: none;
	color: white;
}

.nav-links {
	display: grid;
	grid-template-columns: repeat(5, auto);
	grid-gap: 20px;
	list-style: none;
}

.nav-link {
	text-decoration: none;
	color: white;
	transition: 0.3s all;
}

.nav-link:hover {
	color: #212526;;
}

.nav-icon {
	display: none;
	font-size: 2rem;
	cursor: pointer;
}

@media only screen and (max-width: 500px) {
	.navbar {
		position: relative;
	}

	.nav-links {
		display: flex;
		flex-direction: column;
		position: absolute;
		text-align: center;
		width: 100%;
		top: 80px;
		left: -100%;
		transition: 0.5s all;
    /* margin-right: 1em; */
	}

	.nav-links.active {
		background: rgb(5, 19, 11);
		left: 0;
    
	}

	.nav-item {
		padding: 10px 0;
		border-top: 1px solid rgb(24, 93, 98);
		border-bottom: 1px solid rgb(24, 93, 98);
   
	}

	.nav-icon {
		display: flex;
	}
}

/* .greeting {
  margin-left: 43px;
} */

 .greeting p {
    font-family: var(--feature-font);
    font-weight: lighter;
    font-size: 100px;
    text-align: center;
    color: rgb(24, 93, 98);
  }
  .greeting p {
    
    font-weight: lighter;
    font-size: 22px;
    line-height: 0px;
    text-align: center
  }




          /* FOOTER */
footer {
	border-top: 2px solid rgb(214, 155, 206);
	padding: 0.5em;
	background-color: black;
	color: white;
}

footer p {
  margin: 10px 0;
}

footer a {
  color: #3c97bf;
  
margin-right:5px;
}



/* START PAGE */
.start-contaiener {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 60em;
  justify-content: center;
}
.start-contaiener h1 {
  color: #4fbe45cc;
  font-family: var(--feature-font);
  font-size: xx-large;
    margin-top: 0em;
    
}
 .link-start-page {
  text-decoration: none;
}


.logo-img {
  margin: 2rem auto;
  width: 200px;
  border: none;
}


.footer-text {
  display: flex;
  flex-direction: row;
  text-align: center;
  gap: 5px;
  justify-content: center;
}
