/* header.css */


  /* Greeting */ 
  
  .greeting p {
	font-family: var(--feature-font);
	font-weight: lighter;
	font-size: 100px;
	text-align: center;
	color: rgb(150 245 141);
  }
  
  .greeting p {
	font-weight: lighter;
	font-size: 15px;
	line-height: 0px;
	text-align: center  
  }
  
  
  /* Start Page */
  
  .start-container {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center; 
  }
  
  .start-container h1 {
	color: #12484b;
	font-family: var(--feature-font);
	font-size: xx-large;
	margin-top: 0;  
  }
  
  .link-start-page {
	text-decoration: none;
  }
  
  
  #start-logo {
    fill: transparent;
    transition: fill 2s ease-in-out;
}
