.statistics-container {
	display: grid;
	grid-template-columns: auto auto;
	justify-content: space-evenly;
	text-align: center;
}
.statistics-container > div {
	margin: 4em 1em;
}	

.stats-header-text {
	margin-bottom: 0;
	font-family: var(--feature-font);
	font-size: x-large;
}
.stats-item-name {
	margin-bottom: 0;
	margin-top: 0;
}
.statistics-container ol {
	background-color: #ffffff38;
    border-radius: 2em;
	list-style-position: inside;
	padding: 1em 2em;
	margin-bottom: 2em;
	box-shadow: 4px 5px 10px 1px rgba(0, 0, 0, 0.11);
}

.statistics-container li {
	list-style-type: none;
	margin: 9em;
}

.statistics-image {
	height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 50%;
	box-shadow: 4px 5px 10px 1px rgba(0, 0, 0, 0.11);
}

.statsic-cont{
	display: flex;
    flex-direction: column;
    gap: 4em;
}

@media only screen and (max-width: 1050px) {
	.statistics-container {
		grid-template-columns: auto;
	}
}