@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&family=Slackey&display=swap');

/* --- Global --- */


*{
  box-sizing: border-box;
}





body{
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  max-width: 100vw;
}


:root {
  /* Colors */

 


  /* Fonts */
  --feature-font: 'Slackey', cursive; 
  --open-sans: 'Open Sans', cursive;

  /* Main features */
  --box-radius: .5em;
  --box-shadow: 4px 5px 10px 1px rgba(0, 0, 0, 0.11);
  --transition-hover: .2s all;
  --scale-hover: scale(1.02);
}






main {
  min-height: 84vh;
	flex: 1 1 auto;
	background: linear-gradient(-134deg, #E4A972, #9941D8) fixed;
}

.main-btn {
	font-size: 1.2em;
	border-radius: 1em;
	padding: 0.5em 1em;
	outline: none;
	border: 1px solid #12484b;
    background-color: #12484b;
    color: white;
}

.main-btn:hover {
	cursor: pointer;
	border: 1px solid black;
	background-color: black;
	color: rgb(31, 167, 177);
}






/* SEARCH*/

.search-box{
       /* width: fit-content; */
    /* height: fit-content; */
    position: relative;
    bottom: 114px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: -9em;*/
}
.input-search{
  height: 43px;
  width: 19em;
  border-style: none;
  padding: 15px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all .5s ease-in-out;
  background-color: #12484b;;
  /* padding-right: 40px; */
  color: #fff;
}
.input-search::placeholder{
  color:rgba(255,255,255,.5);
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 100;
  
}


.btn-search:focus ~ .input-search{
  width: 200px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.input-search:focus{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
